*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
   /*navbar start*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
 nav ul li a {
    text-decoration: none;
    color:  #575757; 
 }
  /*navbar end*/
 .common-button{
      background-color: #1D4ED8;
      color: #FFFFFF;
      font-weight: 600;
      padding: 10px 30px;
      margin: 0px 8px;
      border-radius: 8px;
      outline: none;
      border: none;
 }
 