* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

a:hover {
    background-color: #b5c4ee;
    padding: 4px;
    border-radius: 5px;
}

button:hover {
    background-color: #35446f;
    padding: 10px 30px;
    margin: 0px 8px;
    border-radius: 8px;
}

/*navbar start*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
}

/*navbar end*/
.common-button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 30px;
    margin: 0px 8px;
    border-radius: 8px;
    outline: none;
    border: none;
}

/* banner-section start */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/banner.jpg');
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-div1 {
    color: #FFFFFF;
}

.bold {
    font-weight: 800;
    font-size: 5rem;
    padding: 20px;
}

/* banner-section end */

main {
    max-width: 1200px;
    margin: auto;
}

/* speacker-section start */



.speakers-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 20px;
    column-gap: 30px;
    row-gap: 30px;


}

.speakers {
    display: grid;
    gap: 10px;
    border: 1px solid rgb(237, 232, 232);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.speakers-content {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.speakers-intro img {
    width: 100%;
    display: block;

}

.meet-speaker {
    margin: 40px 0;
    color: #000102;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.paragraph-color {
    color: #2563EB;
    font-size: small;
    font-weight: 600;
}

.speakers-name {
    color: #0D1B2A;
    font-weight: 700;
    font-size: 1.3rem;
}

.speakers-description {
    color: #575757;
}

/* speacker-section end */
/* pricing-section start */

.pricing-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pricing-start {
    margin: 20px;
    padding: 20px;
}

.pricing-card {
    margin-top: 10px;
}

.secure-section-start {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricing-card-big-font {

    color: #0D1B2A;
    font-size: 2.5rem;
    font-weight: 700;
}

.pricing-list {
    color: #333333;
    display: grid;
    gap: 10px;
    margin-bottom: auto;
    padding-left: 18px;
}

.pricing-list li::marker {
    color: #2563EB;
}


.pricing-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    padding: 20px;
}

.common-card {

    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(237, 232, 232);
    border-radius: 8px;
    padding: 30px;
}


.first-card {
    background-color: white;
    color: #888888;
}

.last-card {
    background-color: #F8F9FB;
    color: #888888;
}

hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 20px 0;
}

.highlight-hr {
    border-top: 1px solid #FFFFFF10;
}

.standard-button,
.team-button,
.pro-button {
    border-radius: 8px;
    width: 100%;
    padding: 8px 3%;
    margin-top: 20px;
    font-weight: 600;
}

.standard-button {
    color: #2563EB;
    background-color: white;
    border: 2px solid #2563EB;

}

.team-button {
    color: #0D1B2A;
    background-color: #F8F9FB;
    border: 2px solid #0D1B2A;

}

.pricing-name {
    font-weight: 600;
}

.highlight-price {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.pro {
    color: #93C5FD;
}

.highlight-card {
    background-color: #0D1B2A;
    color: #FFFFFF80;
}

.highlight-list {
    display: grid;
    gap: 10px;
    margin-bottom: auto;
    padding-left: 18px;
}

.highlight-list li::marker {
    color: #2563EB;
}

.pro-button {
    color: #FFFFFF;
    background-color: #2563EB;
    border: 2px solid #0D1B2A;
}

/* pricing-section end */
/* Venue & FAQ Section */

.venue-faq-section {
    padding: 90px 8%;
    background: #f8fafc;
    border: 1px solid rgb(237, 232, 232);
    /* border-radius: 8px; */
}

.venue-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.venue-card,
.faq-card {
    flex: 1;
    min-width: 320px;
    min-height: 650px;
    background: #ffffff;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}


.venue-card h2,
.faq-card h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #111827;
}

.venue-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2563eb;
}

.location {
    font-weight: 600;
    margin-bottom: 18px;
    color: #374151;
}

.venue-card p {
    color: #6b7280;
    line-height: 1.7;
}

.venue-info {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.venue-info h4 {
    margin-bottom: 8px;
    color: #111827;
}

.venue-info p {
    color: #2563eb;
    font-weight: 600;
}

.faq-item {
    margin-bottom: 25px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e7eb;
}

.faq-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.faq-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #111827;
}

.faq-item p {
    color: #6b7280;
    line-height: 1.7;
}

/*footer section start*/
footer {
    background-color: #0D1B2A;
    padding: 20px;
}

footer hr {
    border: none;
    border-top: 1px solid #FFFFFF40;
    margin: 20px 0;
}

footer p {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #FFFFFF40;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}

.footer-link span {
    color: #2563EB;
}

.footer-link {
    display: flex;
    gap: 20px;
}

/*footer section start*/